*.o
*.swp
*.log
Makefile
Makefile.in
tags
configure
depcomp
config.*
.deps
aclocal.*
autom4te.cache/*
install-sh
missing
stamp-h1
*.m4
*.lo
*.la
*.so*
*.lai
libtool
ltmain.sh
.dirstamp
*.pc
example/play_hvl
